body{
  background-color: #1B1717;
  height: 100%;
  color: #EEEBDD;
}

.header{
  background-color:#630000;
  border: 5px solid #810000;
  border-radius: 15px;
  text-align: center;
}

.form{
  text-align: center;
  height: 500px;
  width: 350px;
  background-color: #810000;
  border-radius: 15px;
  display: grid;
  grid-tempelate-columns: 100px 1fr;
  grid-tempelate-rows: 75px 75px 75px 75px;
  ""
  ""
  ""
  ""
  ""
  ""
  "";
  margin: 0 auto;
  margin-top: 20px;
  border: 5px solid #630000;
  padding: 25px;
  
}

input{
  margin: 0 auto;
  width: 300px;
}

button{
  margin: 0 auto;
  width: 100px;
}
